name: Release Gem

on:
  release:
    types: [published]

jobs:
  release:
    runs-on: ubuntu-latest

    env:
      BUNDLE_DISABLE_DEFAULT_GEM: "true"

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '4.0'
          bundler-cache: true

      - name: Install dependencies
        run: gem install github_changelog_generator

      - name: Generate CHANGELOG.md
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          github_changelog_generator \
            --user isprambiente \
            --project pdnd-ruby-client \
            --token $GITHUB_TOKEN \
            --future-release ${{ github.event.release.tag_name }}

      - name: Check for changes
        id: changes
        run: |
          git diff --exit-code CHANGELOG.md || echo "modified=true" >> $GITHUB_OUTPUT

      - name: Commit and Push CHANGELOG.md
        if: steps.changes.outputs.modified == 'true'
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@users.noreply.github.com"
          git add CHANGELOG.md
          git commit -m "Update CHANGELOG for release ${{ github.event.release.tag_name }}"
          git push origin HEAD:main

      - name: Build the gem
        run: gem build *.gemspec

      - name: Publish to RubyGems
        env:
          GEM_HOST_API_KEY: ${{ secrets.RUBYGEMS_API_KEY }}
        run: gem push *.gem